<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Casa da Caneta</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/estilos.css">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>

	<header>
		<h1 class="fL"><!--deixei h1 para usar o posicionamento ja definido no css-->
    		<picture>
    			<source style="height: 50px; margin-left: 10px;" srcset="/img/logo.png" media="(max-width: 600px)" alt="Casa das Canetas">
    			<img style="height: 50px; margin-left: 10px;" src="/img/logoG.png" alt="Casa das Canetas">
    		</picture>
  		</h1>

  		<input type="checkbox" id="control-nav" />
  		<label for="control-nav" class="control-nav"></label>
  		<label for="control-nav" class="control-nav-close"></label>

			<nav class="fR">
				<ul class="list-auto">
					<li><a href="/inicio">HOME</a></li>
		      		<li><a href="/produto/listaprodutos">PRODUTOS</a></li>
		      		<li><a href="/sobre" >SOBRE</a></li>
		      		<li sec:authorize="hasAnyRole('ADMIN')"><a href="/pessoa/gerencia">GERENCIAR</a></li>
		      		<li sec:authorize="hasAnyRole('ADMIN','USER')"><a href="/pessoa/minhascompras">MINHAS COMPRAS</a></li>
		      		<li sec:authorize="hasAnyRole('ADMIN','USER')"><a href="/pessoa/carrinho">CARRINHO</a></li>
		      		<li sec:authorize="!hasAnyRole('ADMIN','USER')"><a href="/pessoa/logar">LOGIN</a></li>
		      		<li sec:authorize="hasAnyRole('ADMIN','USER')"><a href="/logout">LOGOUT</a></li>
		    	</ul>
			</nav>
		
	</header>
	
	<section class="container">
		<br>
		<div class="box-form">
			<form method="POST" action="/pessoa/logar">
				<div class="row">
					<div class="col-25">
						<label><h2>LOGIN:</h2></label>
					</div>
					<div class="col-75">
						<input type="text" name="username">
					</div>
				</div>
				<div class="row">
					<div class="col-25">
						<label><h2>SENHA:</h2></label>
					</div>
					<div class="col-75">
						<input type="text" name="password">
					</div>
				</div>
				<div class = "row">
					<input type="submit" value="Logar">
				</div>
			</form>
		</div>
		<a href="/pessoa/formpessoa"><button class="butao-azul" style="width: 150px; height: 60px; float: right;">Me Cadastrar</button></a>
	</section>

	<footer>
			<h6 class="fL" style="margin-left: 5px; color: #DCDCDC;">
					Casa das Canetas<br>
					Desde 1900elavaibolinha<br>
					@euquefiz 
			</h6>
			<div class="container fR">
				<ul class="social">
					<li><a href="http://facebook.com/casadascanetas">Facebook</a></li>
					<li><a href="http://twitter.com/casadascanetas">Twitter</a></li>
					<li><a href="http://plus.google.com/casadascanetas">Google+</a></li>
				</ul>
			</div>
	</footer>
</body>
</html>